# Default ignored files
/shelf/
/workspace.xml
/../target/
# Datasource local storage ignored files
/../../../../../../../../../:\Users\De Harteloos\Documents\PAWK\UI_Automation\Nouveau dossier\LeroyMerlinAutomation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
